$colors: (
    white: #FFF,
    primary: #3B69E3,
    red: #FA4C4C,
    base: #414141,
    gray: #616161,
    gray2: #F5F6FA,
    gray3: #F4F4F4,
    gray4: #E6E8F1,
    gray5: #D4D4D4,
    gray6: #C6C6CB,
    gray7: #717171,
    gray8: #999,
    blue: #F0F4FB,
    blue2: #E8F1FF,
    blue3: #5E84E9,
    black3: #131313,
    black2: #121740,
    black: #000
);

@mixin flex_row($dir: row, $just: initial, $align: normal, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    gap: $gap;
}
@mixin flex_col($dir: column, $just: initial, $align: normal, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    gap: $gap;
}
@mixin grid_box($col: 1fr, $just: initial, $align: normal, $gap: 0) {
    display: grid;
    grid-template-columns: $col;
    justify-items: $just;
    align-items: $align;
    gap: $gap;
}
@mixin pos_center($zidx: 0) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $zidx;
}
@mixin pos_centerTop($left: 0, $zidx: 0) {
    position: absolute;
    left: $left;
    top: 50%;
    transform: translateY(-50%);
    z-index: $zidx;
}
@mixin font_inherit($family: inherit, $size: inherit, $weight: inherit, $line: inherit, $letter: inherit, $color: inherit) {
    display: inline-block;
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
    letter-spacing: $letter;
    color: $color;
}