@use 'variables' as *;

:root {
    --font-family: 'Pretendard', sans-serif;
    --transition-base: 0.3s ease;
    @each $name, $value in $colors {--color-#{$name}: #{$value};}
}

/* reset */
* {
    font-family: var(--font-family);
    font-size: 100%;
    font-weight: 400;
    box-sizing: border-box;
    color: var(--color-base);
}
body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, table, tr, th, td, 
form, fieldset, legend, input, label, select, textarea, button {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body, h1, h2, h3, h4, h5, h6 {font-weight: 400;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul, ol, li {list-style: none;}
a {
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}
img {
    display: block;
    width: 100%;
    vertical-align: middle;
    border: none;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    border: 0;
    cursor: pointer;
    background: none;
}
input,
textarea,
select,
fieldset {
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none;
    background: none;
}
input::placeholder,
textarea::placeholder {
    color: var(--color-gray8);
}
select {cursor: pointer;}
input[type='checkbox'],
input[type='radio'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
}
fieldset > legend,
table > caption {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
label {
    &:focus-within {
        outline: none;
        &:has(input:focus-visible) {
            border-radius: 2px;
            outline: 2px solid var(--color-base);
            outline-offset: 2px;
        }
    }  
}
blockquote, q {quotes: none;}
blockquote:before, 
blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
*::before, *::after {box-sizing: border-box;}

/* scroll */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background-color: var(--color-gray8);
}
*::-webkit-scrollbar-track {
    background-color: var(--color-white);
    border-radius: 999px;
}
/* scroll - Firefox */
@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-gray8) var(--color-white);
    }
}

/* setting */
.hide {display: none !important;}
.of_hidden {overflow: hidden !important;}
.no_drag {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sr_only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
.vis_hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    transition: opacity var(--transition-base);
}
.round {border-radius: 999px !important;}
.b_gy {border: 1px solid var(--color-gray4);}
.br_rd {
    border: 1px solid var(--color-gray4);
    border-radius: 20px;
}

/* font */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* text */
.t_it {font-weight: 300 !important;}
.t_rg {font-weight: 400 !important;}
.t_md {font-weight: 500 !important;}
.t_sb {font-weight: 600 !important;}
.t_bo {font-weight: 700 !important;}
.t_eb {font-weight: 800 !important;}
.t_bk {font-weight: 900 !important;}
.t_lt {text-align: left !important;}
.t_rt {text-align: right !important;}
.t_ct {text-align: center !important;}
.t_ep {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* color & background-color */
@each $name in map-keys($colors) {
    .c_#{$name} {
        color: var(--color-#{$name}) !important;
    }
    .bg_#{$name} {
        background-color: var(--color-#{$name}) !important;
    }
}

/*  utility - width / height / space */
.w_auto {width: auto !important;}
.w_full {width: 100% !important;}
.wn_auto {min-width: auto !important;}
.h_auto {height: auto !important;}
.m_auto {margin: 0 auto !important;}
.b_base {border: 1px solid var(--color-gray4);}
@for $i from 0 through 50 {
    .w_#{$i * 10} {width: #{$i * 10}px !important;}
    .wx_#{$i * 10} {max-width: #{$i * 10}px !important;}
    .wn_#{$i * 10} {min-width: #{$i * 10}px !important;}
    .h_#{$i * 10} {height: #{$i * 10}px !important;}
    .hx_#{$i * 10} {max-height: #{$i * 10}px !important;}
    .hn_#{$i * 10} {min-height: #{$i * 10}px !important;}
}
@for $i from 1 through 90 {
    @if $i <= 20 or ($i > 20 and $i % 5 == 0) {
        .wp_#{$i} {
            width: $i * 1% !important;
        }
    }
}
@for $i from 0 through 50 {
    $v: $i * 2;
    @if $v <= 40 or $v % 10 == 0 {
        .p_#{$v} {padding: #{$v}px !important;}
        .pt_#{$v} {padding-top: #{$v}px !important;}
        .pb_#{$v} {padding-bottom: #{$v}px !important;}
        .pl_#{$v} {padding-left: #{$v}px !important;}
        .pr_#{$v} {padding-right: #{$v}px !important;}
        .py_#{$v} {padding-top:#{$v}px !important; padding-bottom: #{$v}px !important;}
        .px_#{$v} {padding-left: #{$v}px !important; padding-right: #{$v}px !important;}
        .m_#{$v} {margin: #{$v}px !important;}
        .mt_#{$v} {margin-top: #{$v}px !important;}
        .mb_#{$v} {margin-bottom: #{$v}px !important;}
        .ml_#{$v} {margin-left: #{$v}px !important;}
        .mr_#{$v} {margin-right: #{$v}px !important;}
        .my_#{$v} {margin-top: #{$v}px !important; margin-bottom: #{$v}px !important;}
        .mx_#{$v} {margin-left: #{$v}px !important; margin-right: #{$v}px !important;}
        .g_#{$v}  {gap: #{$v}px !important;}
        .rg_#{$v} {row-gap: #{$v}px !important;}
        .cg_#{$v} {column-gap: #{$v}px !important;}
    }
}
.b_0  {border: 0 !important;}
.bt_0 {border-top: 0 !important;}
.bb_0 {border-bottom: 0 !important;}
.bl_0 {border-left: 0 !important;}
.br_0 {border-right: 0 !important;}
.by_0 {border-top: 0 !important; border-bottom: 0 !important;}
.bx_0 {border-left: 0 !important; border-right: 0 !important;}
@for $i from 1 through 20 {
    .brs_#{$i} {border-radius: #{$i}px !important;}
}

/* grid */
.gd_full {@include grid_box();}
.gd_half {@include grid_box($col: repeat(2, 1fr));}

/* flex */
.fx_row {@include flex_row($align: center);}
.fx_col {@include flex_col();}
.fx_btw {@include flex_row($just: space-between, $align: center);}
.fx_dr {flex-direction: row !important;}
.fx_dc {flex-direction: column !important;}
.fx_no {flex: none !important;}
.fx_full {flex: 1 !important;}
@for $i from 0 through 9 {
    .fx_#{$i} {flex: #{$i * 0.1} !important;}
}

/* sort - justify / align */
$sort_map: (
  jc: (justify-content, start center end initial),
  ji: (justify-items, start center end initial),
  js: (justify-self, start center end initial),
  ac: (align-content, start center end normal),
  ai: (align-items, start center end normal),
  as: (align-self, start center end normal)
);
@each $prefix, $data in $sort_map {
    $prop: nth($data, 1);
    $values: nth($data, 2);
    @each $val in $values {
        .#{$prefix}_#{$val} {
            #{$prop}: #{$val} !important;
        }
    }
}

/* icon */
[class^="ico_"] {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
$type_map: (wh: "_wh", on: "_on");
$icons: (
    alarm_setting: (hover: true,  on: wh),
    certify: (hover: true,  on: wh),
    certify_rd: (hover: false, on: null),
    cp: (hover: true,  on: wh),
    dashboard: (hover: true,  on: wh),
    document: (hover: true,  on: wh),
    document_search: (hover: false, on: null),
    document_yw: (hover: false, on: null),
    donut: (hover: true,  on: wh),
    download: (hover: false, on: null),
    excel: (hover: false, on: null),
    home: (hover: false, on: null),
    leak: (hover: true,  on: wh),
    msg_yw: (hover: false, on: null),
    package: (hover: false, on: null),
    page_break: (hover: true,  on: wh),
    pass: (hover: false, on: null),
    sp: (hover: true,  on: wh),
    add_bk: (hover: false, on: null),
    add_wh: (hover: false, on: null),
    stop: (hover: false, on: null),
    user: (hover: false, on: null),
    user_del: (hover: false, on: null),
    user_pass: (hover: false, on: null),
    user_setting: (hover: true,  on: wh),
    x_bk: (hover: false, on: null)
);
@each $icon, $cfg in $icons {
    $hover:  map-get($cfg, hover);
    $on: map-get($cfg, on);
    $tm: map-get($type_map, $on);
    .ico_#{$icon} {
        background-image: url("../img/icon/#{$icon}.svg");
        @if $tm {&.on, .on > & {background-image: url("../img/icon/#{$icon}#{$tm}.svg");}}
        @if $hover {
            &:hover, :hover > & {background-image: url("../img/icon/#{$icon}_wh.svg");}
            &.on:hover, :hover > &.on {background-image: url("../img/icon/#{$icon}#{$tm}.svg");}
        }
    }
}