@use 'variables' as *;

html, body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

/* wrap */
.wrap {
    @include grid_box($col: auto 1fr);
    grid-template-rows: 64px 1fr;
    grid-template-areas:
        "header header"
        "aside main";
    height: 100vh;
    overflow: hidden;
}

/* header */
header {
    grid-area: header;
    > nav {
        @include flex_row($just: space-between, $align: center);
        width: 100%;
        height: 100%;
        padding: 0 16px;
        border-bottom: 1px solid var(--color-gray4);
        background-color: var(--color-gray2);
        .logo {
            display: inline-block;
            padding-left: 50px;
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 40px;
            color: var(--color-black3);
            background: url(../img/logo_symbol.svg) no-repeat left center;
            background-size: 40px;
        }
        .info {
            @include flex_row($align: center, $gap: 0 8px);
            button {
                padding: 0 16px 0 26px;
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 20px;
                background-position: left center;
                background-size: 20px;
                &:hover {color: var(--color-primary);}
            }
        }
    }
    .header_user {
        display: none;
        position: fixed;
        right: 24px;
        top: 52px;
        z-index: 999;
        min-width: 240px;
        border: 1px solid var(--color-gray4);
        border-radius: 12px;
        background-color: var(--color-white);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
    }
    .header_user .item {
        @include flex_row($align: center);
        gap: 0 12px;
        padding: 20px 20px 18px;
        border-bottom: 1px solid var(--color-gray2);
        .profile {
            display: block;
            width: 40px;
            height: 40px;
            border: 1px solid var(--color-gray4);
            border-radius: 999px;
            background: url(../img/icon/user.svg) no-repeat center var(--color-gray2);
            background-size: 24px;
        }
        .account > strong {
            display: block;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 20px;
        }
        .account > small {
            display: block;
            font-size: 0.8125rem;
            line-height: 18px;
            color: var(--color-gray8);
        }
    }
    .header_user .logout {
        padding: 0 12px;
        text-align: right;
        > button {
            padding-right: 24px;
            font-size: 0.8125rem;
            font-weight: 500;
            line-height: 40px;
            color: var(--color-gray8);
            background: url(../img/icon/logout.svg) no-repeat right center;
            background-size: 20px;
            &:hover {color: var(--color-black3);}
        }
    }
}

/* aside */
aside {
    grid-area: aside;
    min-height: 0;
    position: relative;
    padding-left: 64px;
    transition: padding var(--transition-base);
}

/* aside - menu */
.menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    z-index: 999;
    width: 64px;
    height: 100%;
    padding: 8px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--color-gray2);
    transition: all var(--transition-base);
    &::-webkit-scrollbar {display: none;}
    .menu_toggle {
        display: grid;
        justify-self: end;
        width: 48px;
        height: 40px;
        margin-bottom: 12px;
        background: url(../img/icon/menu_toggle.svg) no-repeat center;
        background-size: 24px;
    }
    .gnb {
        @include flex_col($gap: 6px 0);
        .item {
            display: block;
            position: relative;
            padding: 12px;
            border-radius: 8px;
            transition: background-color var(--transition-base);
            > i {
                display: block;
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
            }
            > span {
                display: inline-block;
                position: absolute;
                left: 46px;
                top: 50%;
                transform: translateY(-50%);
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.16px;
                white-space: nowrap;
                color: var(--color-gray);
                opacity: 1;
                transition: color var(--transition-base), opacity var(--transition-base);
            }
            &:hover,
            &.on {
                background-color: var(--color-primary);
                > span {color: var(--color-white);}
            }
        }
    }
}

/* aside - menu */
.menuSub {
    width: 230px;
    height: 100%;
    border-right: 1px solid var(--color-gray4);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {display: none;}
    > h2 {
        padding: 0 28px;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 60px;
        color: var(--color-black3);
    }
    .lnb {
        @include flex_col($gap: 12px 0);
        padding: 4px 12px;
        .item {
            display: block;
            padding: 9px 20px;
            border-radius: 8px;
            font-size: 0.9375rem;
            font-weight: 500;
            line-height: 22px;
            color: var(--color-gray8);
            &:hover {color: var(--color-primary);}
            &.on {
                font-weight: 600;
                color: var(--color-primary);
                background-color: var(--color-gray2);
            }
        }
    }
}


/* main */
main {
    grid-area: main;
    min-width: 0;
    min-height: 0;
    overflow: auto;
}

/* box */
.box_content {min-width: 1200px;}
.box_item {
    @include flex_col($gap: 20px 0);
    padding: 20px 40px 40px;
}
.box_xtem {
    @include flex_col($gap: 20px 0);
    padding: 0 40px;
}